.App {
  background-image: url(fon-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  min-height: 80vh;
  margin: auto;
  margin-bottom: 0px;
}
body {
  border: 1px red solid;
  min-height: 90vh;
}